name: Docker CI Pipeline
on: push
jobs:
  dockerci-job:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: action/checkout@v6

      - name: Create Image
        run: docker build -t ${{ vars.DOCKER_USERNAME }}/helloworld-demo-python:v1 .

      - name: Verify Image
        run: docker images

      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Push Image
        run: docker push -t ${{ vars.DOCKER_USERNAME }}/helloworld-demo-python:v1
          
          
